extends _layout/layout

block variables
	- var title = 'About'
	- var description = 'Description for about page'
	- var bodyclass = 'about'

block body
	section.about
		.container
			.arrow-up
			.arrow-down
			.arrow-left
			.arrow-right
			.arrow-center


