extends _layout/layout

//- Các giá trị mặc định cho t-haig web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.home
		.slider.owl-carousel.owl-theme
			.item
				img(src="img/home_slider1.png", alt="")
				.title
					p Trải Nghiệm vượt trội cùng TuTo
			.item
				img(src="img/home_slider2.png", alt="")
				.title
					p Trải Nghiệm vượt trội cùng TuTo
			.item
				img(src="img/home_slider3.png", alt="")
				.title
					p Trải Nghiệm vượt trội cùng TuTo
			.item
				img(src="img/home_slider4.png", alt="")
				.title
					p Trải Nghiệm vượt trội cùng TuTo
	section.maunen
	section.home-sanpham
		.container
			.row
				.tieude
					h2 SẢN PHẨM NỔI BẬT
				.cheocenter
					p
			.row
				.col-sm-4.item
					figure
						img.img-fluid(src="img/home_services_01.png", alt="")
				.col-sm-4.item
					figure
						img.img-fluid(src="img/home_services_02.png", alt="")
				.col-sm-4.item
					figure
						img.img-fluid(src="img/home_services_03.png", alt="")
	section.home-khuyenmai.mt-5
		.container
			.row.khuyenmai
				.col-sm-6.col-md-6
					.info
						.tieude
							h3 CHƯƠNG TRÌNH KHUYẾN MÃI
						.cheoleft
							p
						.text
							p Cùng với nhiều chiếc khấu và ưu đãi hấp dẫn, Tuto luôn đồng hành cùng bạn trên mọi chặng đường.
							a.btn(href="#") XEM THÊM
				.col-sm-6.col-md-6
					.babanhxe
						figure
							img.img-fluid(src="img/3_banh_xe.png", alt="")
	section.news
		.container.mt-5
			.row
				.col.banhxe 
				.col
					.row.p-0
						figure
							img(src="img/home_news1.png", alt="")
							figcaption
								.tieude
									h3 GIỚI THIỆU
								.cheoleft
									p
								p Tutto Việt Nam tự hào là nhà phân phối vỏ -ruột xe cao cấp cho hàng ngàn chiếc xe trong thập kỷ qua. Với hơn 10 năm hoạt động phân phối vỏ ruột xe, Tutto thấu hiểu rõ những gì tốt nhất cho chiếc xe của bạn. Từ những mong muốn của bạn, đội ngũ Tutto cam kết một dịch vụ trọn gói tốt nhất từ A đến Z.
								.icon
									i.fa.fa-arrow-right
					.row.p-0
						figure
							img(src="img/home_news2.png", alt="")
							figcaption
								.tieude
									h3 TÌM LỚP XE PHÙ HỢP
								.cheoleft
										p
								.form-group
									select#exampleFormControlSelect1.form-control.bg-light
										option Chọn Loại
										option 2
										option 3
										option 4
										option 5
									select#exampleFormControlSelect1.bg-light.form-control.mt-4
										option Chọn Mẫu Xe
										option 2
										option 3
										option 4
										option 5
									select#exampleFormControlSelect1.bg-light.form-control.mt-4
										option Chọn Kích Thước
										option 2
										option 3
										option 4
										option 5
								.icon
									i.fa.fa-arrow-right
								a.btn(href="#") TIỀM KIẾM
	section.home-tintuc.mt-5
		.container
			.row.tintuc1
				.tieude
					h3 TIN TỨC
				.cheocenter
					p
			.row.tintuc2
				.col-md-6.col-lg-6
					.tintuc2-1
						.chuday
						h5 Những tính năng của khóa lớp xe ô tô
				.col-md-6.col-lg-6
					.row.tintuc3
						.col-sm-6.col-md-6.tintuc3-1
								img.img-fluid(src="img/home_news4.png", alt="")
								
						.col-sm-6.col-md-6.tintuc3-2
							figcaption
								h6 Dấu hiệu nhận biết cần thay lốp xe máy ngay lập tức
								p Trong quá trình sử dụng, khi nhận thấy một số biểu hiện bất thường dưới đây, bạn cần phải thay lốp xe ngay để đảm bảo chuyến
								.xemthem
									a(href="#") Xem Thêm
					.row.tintuc4
						.col-sm-6.tintuc4-1
							figcaption
								h6 Turanza T005 - Lốp xe đặc biệt, êm an toàn ngay cả khi lái xe dưới mưa
								p Bridgestone Việt Nam, Tập đoàn Bridgestone, tập đoàn sản xuất cao su và lốp xe lớn nhất thế giới, chính thức ra mắt dòng lốp xe cao 
								.xemthem
									a(href="#") Xem Thêm
						.col-sm-6.col-md-6.tintuc4-2
								img.img-fluid(src="img/home_news5.png", alt="")




