extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.home
		.slider.owl-carousel.owl-theme
			.item
				img(src="img/home_slider1.png", alt="")
				.title
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
			.item
				img(src="img/home_slider2.png", alt="")
				.title
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
			.item
				img(src="img/home_slider3.png", alt="")
				.title
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
			.item
				img(src="img/home_slider4.png", alt="")
				.title
					p Lorem ipsum dolor sit amet consectetur adipisicing elit.
	section.maunen
	section.home-sanpham
		.container
			.row
				.tieude
					h2 SẢN PHẨM NỔI BẬT
				.cheocenter
					p
			.row
				.col-sm-4.item
					figure
						img.img-fluid(src="img/home_services_01.png", alt="")
				.col-sm-4.item
					figure
						img.img-fluid(src="img/home_services_02.png", alt="")
				.col-sm-4.item
					figure
						img.img-fluid(src="img/home_services_03.png", alt="")
	section.home-khuyenmai
		.container.mt-5
			.row.khuyenmai
				.col-sm-6
					.info
						.tieude
							h3 CHƯƠNG TRÌNH KHUYẾN MÃI
						.cheoleft
							p
						.text
							p Cùng với nhiều chiếc khấu và ưu đãi hấp dẫn, Tuto luôn đồng hành cùng bạn trên mọi chặng đường.
						a.btn(href="#") XEM THÊM
				.col-sm-6
					.babanhxe
						figure
							img.img-fluid(src="img/3_banh_xe.png", alt="")

