<!-- ////////////// FOOTER ////////////// -->
footer.mt-5
	.container
		.row.footer1
			.col-sm-12.col-lg-6
				.row
					.col-sm-4.col-lg-4
						h4 Đăng ký nhận bản tin
					.col-sm-8.col-lg-8
						p Đăng ký email để nhận những thông tin mới nhất từ Tutto Việt Nam
			.col-sm-12.col-lg-6
				form.form-inline
					.form-group.mx-sm-3.mb-2
						input.form-control(type='email', placeholder='Nhập Mail')
					button.btn.btn-primary.mb-2(type='submit') ĐĂNG KÝ
		.row.p-3
			figure
				img.img-fluid(src="img/line_footer_1.png", alt="")
		.row.footer2
			.col-sm-10.col-md-6.col-lg-6
				.row
					.col-sm-3
						figure
							img.img-fluid(src="img/logo_footer.png", alt="")
					.col-sm-9
						h5 Công ty TNHH Tutto Việt Nam
						p.mt-4 611/27 Điện Biên Phủ, Phường 1, Quận 3, 
						p Tp. Hồ Chí Minh, Việt Nam. ĐT: 028 2645 
						p 6258 Mail: info@tuttovietnam.com.vn
			.col-sm-12.col-md-6.col-lg-6
				.row
					.col-sm-4
						h5 sản phẩm
						a(href="#")
							p.mt-4 Lốp xe tải - xe buýt
						a(href="#")
							p Lốp xe nâng 
						a(href="#")
							p Lốp xe nông nghiệp
						a(href="#")
							p Lốp xe công

					.col-sm-4
						h5 giới thiệu
						a(href="#")
							p.mt-4 Về Tutto Việt Nam 
						a(href="#")
							p Hệ thống phân phối
					.col-sm-4
						h5 liên kết
						a(href="#")
							p.mt-4 Chương trình khuyến mãi 
						a(href="#")
							p Tin tức
						a(href="#")
							p Thư viện
						a(href="#")
							p Tuyển dụng Liên hệ
		.footercuoi
			p @ 2018 Tutto vietnam. all right reserved. designed by canhcam.
