<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#") 
				img(src="./img/logo.png", alt="Logo")
			//- Đây là nút sẽ hiển thị trong mobile
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải 
				.mr-auto
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href="index.html")
							| Trang chủ
					li.nav-item
						a.nav-link(href="services.html") Giới thiệu
					li.nav-item
						a.nav-link(href="about.html") chương trình khuyến mãi
					li.nav-item
						a.nav-link(href="contact.html") Tin tức
					li.nav-item
						a.nav-link(href="contact.html") Tuyển dụng
					li.nav-item
						a.nav-link(href="contact.html") liên hệ
<!-- ////////////// HEADER ////////////// -->
